<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-10">
                    <h2>添加设备
                        <small>可以在这里添加设备.</small>
                    </h2>
                </div>
                <div class="col-sm-2 btn-demo">
                    <button data-ui-sref="home.device" class="btn btn-info btn-icon pull-right"><i class="zmdi zmdi-arrow-back"></i></button>
                </div>
            </div>

        </div>

        <div class="card-body card-padding">

            <form role="form">
                <div class="row cat-form">
                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label>设备ID</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.eqId"
                                   placeholder="请输入设备ID">
                        </div>
                        <div class="form-group fg-line">
                            <label>通信协议</label>
                            <select chosen data-ng-model="deviceAddCtrl.device.protocolId"
                                    data-ng-options="protocol.value as protocol.display for protocol in deviceAddCtrl.protocols"
                                    data-placeholder-text-single="'选择通信协议'" class="w-100">
                            </select>
                        </div>
                        <div class="form-group fg-line">
                            <label>备注</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.remark"
                                   placeholder="请输入备注">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label class="fg-label">配置文件</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.model"
                                   placeholder="请输入配置文件">
                        </div>
                        <div class="form-group fg-line">
                            <label class="fg-label">所属用户</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.user"
                                   placeholder="请输入所属用户">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group fg-line">
                            <label class="fg-label">设备地址</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.path"
                                   placeholder="请输入设备地址">
                        </div>
                        <div class="form-group fg-line">
                            <label class="fg-label">电话号码</label>
                            <input type="text" class="form-control" data-ng-model="deviceAddCtrl.device.phoneNum"
                                   placeholder="请输入电话号码">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-submit" data-ng-click="deviceAddCtrl.add()">添加</button>
            </form>

        </div>
        <br/>
    </div>
</div>